@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


body {
    width: 100%;
    height: 100vh;
    overflow:hidden;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    color: black;
    font-size: 4.5rem !important;
    line-height: 1 !important;
    padding-top: 5px !important;
}

h3 {
        color: #8F8F8F;
        font-family: 'Libre Baskerville', serif;
        font-size: 1.5em !important;
        font-style: italic;
        line-height: 0;
        text-align: center;
    }

h1:hover {
    cursor: default;
}

p {
    font-family: 'Inter', sans-serif;
    margin: 10%;
}

.portfoliotext {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
}

 header {
    display: flex;
    background-color: white;
    grid-row: 1/2;
    min-height: 275px;
    max-height: 290px;
    max-width: 100%;
    flex-shrink: 0;
}

.headerbg1 {
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    height: 100%;
    width: 100%;
    background-image: url(../img/verttextbackground2.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    max-height: 330px;
    row-gap: 20px;
    padding-bottom: 10px;
}

.htext1 {
    grid-row:1/3;
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 2.5%;
    padding-right: 3.1%;
    align-items: center;
    margin-top: 10px !important;
}

.htext2 {
    grid-row:3/5;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding-right: 2.5%;
    align-items: center;
    text-align:end;
    margin-top: 15px !important;
    padding-bottom: 10px !important;
}

.svgheaderbox {
    display: none;
    position: absolute;
    right: 0;
    width: 5%;
    height: 100px;
    background-color: black;
    min-width: 50px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.webframe {
    display: grid;
    grid-template-rows: 2fr 1fr 10Fr 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
    overflow: auto;
}

.mainhomecontent {
    grid-row: 3/4;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr 2fr 1fr 2fr;
    background-color: white;
    padding-bottom: 15%;
    padding-Top: 4%;
}

.portfolioheaderbox {
    grid-row: 1/2;
    display: grid;
    row-gap: 0;
    grid-template-rows: 0.8fr 0.5fr;
    background-image: url(../img/portfoliohbg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pheader {
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
}

.ptext {
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.splitter0 {
    grid-row: 2/3;
    background-image: url(../img/portfoliobg2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#portfolioheader{
    color: #8F8F8F;
    font-size: 3.2em !important;
}

#exampleheader {
    color: #8F8F8F;
    font-size: 1.5em !important;
    text-align: center;
}

.example1 {
    grid-row: 3/4;
    height: 675px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr; 
    background-color: lightgrey;
    margin-left:30px;
    margin-right:30px;
}

.splitter1{
    grid-row: 4/5;
    width: 100%;
    display: flex;
    height: 100%;
    background-image: url(../img/portfoliobg2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-end;
}

.example2 {
    grid-row: 5/6;
    height: 675px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr; 
    background-color: lightgrey;
    margin-left:30px;
    margin-right:30px;
}

.splitter2{
    grid-row: 6/7;
    width: 100%;
    display: flex;
    height: 100%;
    background-image: url(../img/portfoliobg2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-end;
}

.example3 {
    grid-row: 7/8;
    height: 675px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr; 
    background-color: lightgrey;
    margin-left:30px;
    margin-right:30px;
}

.imgframe {
    width: 100%;
    display:grid;
    grid-template-rows: 4fr 3fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 675px;
    grid-row: 1/3;
}

.description {
    display: flex;
    grid-row: 2/3;
    grid-column: 1/3;
    height: 100%;
    width: 100%;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
}

.description2 {
    display: flex;
    grid-row: 2/3;
    grid-column: 1/3;
    height: 100%;
    width: 100%;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
}

.textbox {
    display: flex; 
    width: 100%;
    height: 70%;
}

.viewbox {
    grid-row: 3/4;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    min-height:35px;
}

.viewbox2 {
    grid-row: 3/4;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:35px;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.view { 
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    height: 70%;
    width: 40%;
    border: 1px;
    border-style: inset;
    border-color: black;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 350ms ease;
}

.view:hover {
    box-shadow: 0px 0px 0px 2px #57C3E7 inset;
    border-color: #57C3E7;
}

.eximg1 {
    background-image: url(../img/Git1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-row: 1/2;
    grid-column: 1/3;
    margin: 0;
}

.eximg2 {
    background-image: url(../img/excel1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-row: 1/2;
    grid-column: 1/3;
}


.eximg3 {
    background-image: url(../img/lookupexcel.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-row: 1/2;
    grid-column: 1/3;
}

.button {
    text-decoration: none !important;
    color: black !important;
    font-family: 'Inter', sans-serif;
}

nav {
    grid-row:2/3;
    width:100%;
    display: flex;
    border-width:3px;
    background-color:black;
    position: sticky;
    top: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 120px;
    justify-content: space-between;
}
 
.tab {
    display: flex;
    width: 100%;
    background-color:black;
    border-style: solid;
    border: 1px;
    border-color: black;
    color: white;
    transition: all 350ms ease;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 100%;
}

a {
    text-decoration: none !important;
    font-size: 21px;
    font-family: 'Nunito', sans-serif;
}

a:hover {
    cursor: pointer !important;
}

.tab:hover {
    color: #57C3E7; 
}

.t1:hover{
    box-shadow:0px 0px 0px 2px #57C3E7 inset;
  cursor: pointer;
}
.t2:hover{
    box-shadow:0px 0px 0px 2px #57C3E7 inset;
  cursor: pointer;
}

.t3:hover{
    box-shadow:0px 0px 0px 2px #57C3E7 inset;
  cursor: pointer;
}

footer {
    display: flex;
    grid-row: 4/5;
    background-color: black;
    height: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px; 
}

h2 {
    font-family:'IBM Plex Sans Thai', sans-serif;
    font-size: 45px !important;
    color: white;
    position: relative;
    margin: 0px !important;
    right: 15px;
    font-weight: 500;
    transition: 600ms;
}

#footertext {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 12px !important; 
    color: white;
    position: relative;
    left: 35px;
    margin: 0px !important;
    font-weight: 300;
    transition: 600ms;
}

.line {
    border-left: 2px solid white;
    height: 50px;
    position: relative;
    left: 10px;
    transition: 600ms;
  }

.svgfooterbox {
    display: none;
    position: relative;
    right: 0;
    width: 5%;
    height: 100px;
    left: 15%;
    background-color: black;
    min-width: 50px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.svgbutton {
    height: 29px;
    width: 29px;
    border-radius:50%;
    background-color: white;
    margin: 0;
    margin-right: 15px;
    transition: 400ms all;
}

.svgbutton:hover {
    background-color: #57C3E7;
}

.githsvg {
    margin: 0;
    height: 101%;
    width: 101%;
    margin-bottom: 6px;
    background-image: url(../img/github.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.linksvg {
    margin:0;
    height: 101%;
    width: 101%;
    margin-bottom: 6px;
    background-image: url(../img/linkedin.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.webframeabout {
    display: grid;
    grid-template-rows: 2fr 1fr 1100px 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
    overflow: auto;
}

.mainaboutcontent {
    grid-row: 3/4;
    background-image: url(../img/aboutbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    padding: 4%;
}

.h1bg{
   display:none;
}

#h1bg {
    font-size: 13rem;
    color:#F4F4F4;
}

.aboutlogo {
    grid-row: 1/2;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 100%;
    width: 100%;
}

.biglogobox {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
    background-color: black;
    border-color: white;
    border-width: 10px;
    border-style: solid;
}

#biglogo {
    margin: 0 !important;
    font-size: 5em !important;
    left: 0;
    transition: 600ms;
}

#abouttext {
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

.abouttextbox {
    grid-row: 1/3;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2:hover, .line:hover, #footertext:hover {
    color: #57C3E7;
    border-color: #57C3E7;
    cursor: default;
}


.webframecontact {
    display: grid;
    grid-template-rows: 2fr 1fr 600px 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
    overflow: auto;
}


.maincontactcontent {
    grid-row: 3/4;
    background-image: url(../img/contactbg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    padding: 7%;
    padding-top: 0 !important;
    margin: 0;
    padding-bottom: 40px !important;
}

.pageheaderbox {
    grid-row: 1/2;
    width: 100%;
    display: flex;
    margin: 0;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding-left: 4%;
}

#contactheader{
    color: #8F8F8F;
    font-size: 4em !important;
}

form {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 4fr 70px;
    background-color: #D9D9D9;
    height: 100%;
    width: 100%;
    padding: 2%;
    column-gap: 5%;
}

input{ 
    height: 70%;
    width: 100%;
    border: none;
    display: flex;   
    justify-content: start;
    align-items: flex-start;
    background-color: white;
    font-family: 'Libre Baskerville', serif;
    padding-left: 3%;
}

textarea {
    border: none;
    display: flex;   
    font-family: 'Libre Baskerville', serif;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.name {
    grid-row: 1/2;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email {
    grid-row: 2/3;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    grid-row: 3/4;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send {
    grid-column: 1/3;
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messagebox {
    height: 80%;
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.sendbutton {
    height: 90%;
    width: 60%;
    border: none;
    display: flex;   
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    border: 1px;
    border-style: inset;
    border-color: black;
    border-radius: 3px;
    transition: all 350ms ease;
}

.sendbutton:hover {
    box-shadow: 0px 0px 0px 2px #57C3E7 inset;
    border-color: #57C3E7;
}

@media screen and (max-width: 499px) {
    .viewbox {
        min-height: 30px;
        max-height: 35px;
    }

    .viewbox2 {
        min-height: 30px;
        max-height: 35px;
        margin-bottom: 10px !important;
    }

}

@media screen and (min-width: 500px) {
    .svgfooterbox {
        display: inline-flex;
        position: relative;
        right: 0;
        width: 5%;
        height: 100px;
        left: 15%;
        background-color: black;
        min-width: 50px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media screen and (min-width: 510px) {

    .headerbg1 {
        grid-row: 1/2;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        height: 100%;
        width: 100%;
        background-image: url(../img/textbackground2.png);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        max-height: 290px;
        margin-right:-5px;
        row-gap: 5px;
    }

    .posright {
        text-align: left;
    }

    nav {
        grid-row:2/3;
        display: flex;
        border-width:3px;
        background-color:black;
        justify-content: space-between;
        padding-right:4px;
        position: sticky;
        top: 0;
        margin-top: 1px;
        flex-direction: row;
        height: 90px;
    }
     
    .tab {
        display: flex;
        width: 33%;
        background-color:black;
        border-style: solid;
        border: 0;
        transition: all 350ms ease;
        color: white;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }

    .t1:hover{
        box-shadow: 5px 5px #57C3E7, 6px 6px #57C3E7, 7px 7px #57C3E7;
      transform: translateY(-5px);
      cursor: pointer;
    }
    .t2:hover{
        box-shadow: 5px 5px #57C3E7, 6px 6px #57C3E7, 7px 7px #57C3E7;
      transform: translateY(-5px);
      cursor: pointer;
      color: #57C3E7;
    }
    .t3:hover{
        box-shadow: 5px 5px #57C3E7, 6px 6px #57C3E7, 7px 7px #57C3E7;
      transform: translateY(-5px);
      cursor: pointer;
    }

}

@media screen and (min-width: 650px) {
    #exampleheader {
        font-size: 2em !important;
    }

    .sendbutton {
        width: 40%;
    }
    
    h2 {
        font-family:'IBM Plex Sans Thai', sans-serif;
        font-size: 45px !important;
        color: white;
        position: relative;
        left: 20px;
        margin: 0px !important;
        font-weight: 500;
    }

    
    #footertext {
        font-family: 'IBM Plex Sans Thai', sans-serif;
        font-size: 12px !important; 
        color: white;
        position: relative;
        left: 70px;
        margin: 0px !important;
        font-weight: 300;
    }

    .line {
        border-left: 2px solid white;
        height: 50px;
        position: relative;
        left: 47px;
        margin: 0px !important;
      }
}


@media screen and (min-width: 768px) {
    .svgheaderbox {
        display: inline-flex;
        position: absolute;
        right: 0;
        width: 5%;
        height: 90px;
        background-color: black;
        min-width: 75px;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        margin-right: 15px;
        align-items: center;
    }

    .aboutlogo {
        grid-row: 1/3;
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
        height: 100%;
        width: 100%;
    }

    .abouttextbox {
        grid-row: 1/3;
        grid-column: 2/3;
        justify-content: flex-start;
    }

    .h1bg{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: -4%;
        overflow: hidden;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .biglogobox {
        height: 40%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        border-color: white;
        border-width: 10px;
        border-style: solid;
    }
 
    .svgfooterbox {
        display: inline-flex;
        position: relative;
        right: 0;
        width: 5%;
        height: 100px;
        background-color: black;
        min-width: 75px;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        left: 25%;
        align-items: center;
    }
    
    .svgbutton {
        height: 29px;
        width: 29px;
        border-radius:50%;
        background-color: white;
        margin: 0;
        transition: 400ms all;
    }
    
    .githsvg {
        margin: 0;
        height: 101%;
        width: 101%;
        margin-bottom: 6px;
        background-image: url(../img/github.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .linksvg {
        margin:0;
        height: 101%;
        width: 101%;
        margin-bottom: 6px;
        background-image: url(../img/linkedin.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    nav {
        background-color: black;
        grid-row:2/3;
        width: 100%;
        display: flex;
        border-width:3px;
        background-color:black;
        justify-content: flex-start;
        gap: 6px;
        position: sticky;
        top: 0;
        margin-top: 1px;
        flex-direction: row;
        height: 90px;
    }
     
    .tab {
        display: flex;
        width: 22%;
        background-color:black;
        border-style: solid;
        border: 0;
        transition: all 350ms ease;
        color: white;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }

    .name {
        grid-row: 1/3;
        grid-column: 1/2;
    }
    
    .email {
        grid-row: 1/3;
        grid-column: 2/3;
    }
}

@media screen and (min-width: 830px) {

    .pheaderbg {
        grid-row: 1/2;
        grid-column: 1/4;
        display: flex;
        justify-content: safe center;
        align-items: flex-start;
        min-width: 0;
        overflow: hidden;
        flex-wrap: nowrap;
    }

    h1 {
        font-family: 'Libre Baskerville', serif;
        color: black;
        font-size: 5.5rem !important;
        line-height: 1 !important;
       
    }

    .example1 {
        grid-row: 3/4;
        height: 600px;
        display: grid;
        grid-template-rows: 2fr 1fr;
        grid-template-columns: 1fr; 
        background-color: white;
        margin-left:7%;
        margin-right:7%;
    }
    
    .example2 {
        grid-row: 5/6;
        height: 600px;
        display: grid;
        grid-template-rows: 2fr 1fr;
        grid-template-columns: 1fr; 
        background-color: white;
        margin-left:7%;
        margin-right:7%;
    }
    
    .example3 {
        grid-row: 7/8;
        height: 600px;
        display: grid;
        grid-template-rows: 2fr 1fr;
        grid-template-columns: 1fr; 
        background-color: white;
        margin-left:7%;
        margin-right:7%;
    }

    .eximg1 {
        background-image: url(../img/Git1.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        grid-row: 1/3;
        grid-column: 1/2;
    }
    
    .eximg2 {
        background-image: url(../img/excel1.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        grid-row: 1/3;
        grid-column: 2/3;
    }

    .eximg3 {
        background-image: url(../img/lookupexcel.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        grid-row: 1/3;
        grid-column: 1/2;
    }

    .imgframe {
        width: 100%;
        display:grid;
        grid-template-rows: 4fr 3fr 2fr;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        grid-row: 1/3;
        column-gap: 1rem;
    }

    .viewbox {
        grid-row: 3/4;
        grid-column: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        flex-direction: column;
        background-color: #D0D0D0;
    }

    .viewbox2 {
        grid-row: 3/4;
        grid-column: 2/3;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        flex-direction: column;
        background-color: #D0D0D0;
    }

    .vb2 {
        grid-row: 3/4;
        grid-column: 2/3;
    }
    
    .description {
        background-color: white;
        display: flex;
        grid-row: 1/3;
        grid-column: 2/3;
        height: 100%;
        width: 100%;
        flex-direction: column; 
        justify-content: flex-start;
        align-items: center;
    }

    .description2 {
        background-color: white;
        display: flex;
        grid-row: 1/3;
        grid-column: 1/2;
        height: 100%;
        width: 100%;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }

    .view { 
        background-color: white;
        font-family: 'Inter', sans-serif;
        font-size: 1.5rem;
        height: 40%;
        width: 40%;
        border: 1px;
        border-style: inset;
        border-color: black;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 350ms ease;
    }

    

    .portfoliotext {
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
    }

    .maincontactcontent {
        grid-row: 3/4;
        background-image: url(../img/contentbg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        padding: 7%;
    padding-top: 0 !important;
    margin: 0;
    padding-bottom: 40px !important;
    }

    .mainhomecontent {
        padding-bottom: 15%;
        padding-Top: 2%;
    }
}



@media screen and (min-width: 1030px) {

    .webframeabout {
        grid-template-rows: 2fr 1fr 800px 1fr;
    }

    h1 {
        font-family: 'Libre Baskerville', serif;
        color: black;
        margin-top: -10px !important;
        font-size: 6.6rem !important;
    }

    .biglogobox {
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        border-color: white;
        border-width: 10px;
        border-style: solid;
    }

    #biglogo {
        font-size: 6em !important;
    }

   
}


@media screen and (min-width: 1300px) {

    

    h1 {
        font-family: 'Libre Baskerville', serif;
        color: black;
        margin-top: -10px !important;
        font-size: 8rem !important;
    }

        .tab {
        display: flex;
        width: 12%;
        background-color:black;
        border-style: solid;
        border: 0;
        transition: all 350ms ease;
        color: white;
        justify-content: center;
        align-items: center;
        margin: 0px;
        }

        .biglogobox {
            height: 70%;
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            border-color: white;
            border-width: 10px;
            border-style: solid;
        }

        #biglogo {
            font-size: 8em !important;
        }

        .description, .description2 {
            justify-content: center;
        }
        
    }

    @media screen and (min-width: 1600px) {
        .webframeabout {
            grid-template-rows: 2fr 1fr 600px 1fr;
        }

        #biglogo {
            font-size: 10em !important;
        }

        .biglogobox {
            height: 100%;
            width: 90%;
        }

        .splitter1, .splitter2{
            min-height: 330px;
        }
        .splitter0 {
            max-height: 340px;
        }
    }


/* media queries for larger screen size responsize design; MOBILE FIRST; either stack or dropdown bootstrap nav*/

/* FONT: font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif; */

/* 768px+ for desktop */

/*

/* change superfluous margins on mobile size header, make it same as 510px screen size */
/* take out bootstrap script in html head and body */
/* footer is zoinked at 648px; fix */